// custom hex colors
$siteBgColorCustom: #FAF0E3; // eggshell
$sidebarBgColorCustom: #CDC6A5; // sage
$textColorCustom: #696D7D; // charcoal
$sidebarTextColorCustom: #785964; // taupe
$headlineColorCustom: #696D7D; // charcoal
$headingColorCustom: #785964; // purple ish
$bodyLinkColorCustom: #6F9283; // wintergreen
$navLinkColorCustom: #6F9283; // wintergreen
$sidebarLinkColorCustom: #6F9283; // wintergreen
$footerTextColorCustom: #918f8d; // silver
$buttonTextColorCustom: #f7f7f4; // near-white
$buttonHoverTextColorCustom: #f9f9f8; // near-white
$buttonBgColorCustom: #785964; // purple ish
$buttonHoverBgColorCustom: #6F9283;
$borderColorCustom: #c4beb9; // ?
